ACCOUNT_ID=111122223333
ECR_REGISTRY=111122223333.dkr.ecr.eu-west-1.amazonaws.com
RDS_HOST=sample-db.example123.eu-west-1.rds.amazonaws.com
AWS_REGION=eu-west-1
RDS_MASTER_SECRET_ARN=arn:aws:secretsmanager:eu-west-1:111122223333:secret:rds!db-sample
